.slider div {
    margin: 0 auto;
}
body {
    background-color: #76dbab;
}
.slider {
    position: relative;
    padding: 0 60px;
}
.slider img{
    width: 200px;
    height: 200px;
}
.slick-track {
    display: flex;
}
.slick-list {
    overflow: hidden;
}
.slider .slick-arrow{
    margin: -30px 0 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 30px;
    border: 0;
}
.slider .slick-arrow.slick-prev{
    left: 0;
    background: url(al.svg) 0 0 /100% no-repeat;
}
.slider .slick-arrow.slick-next{
    right: 0;
    background: url(ar.svg) 0 0 /100% no-repeat;
}
.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-dots li{
    list-style: none;
    margin: 0 5px;
}
.slick-dots li button{
    font-size: 0;
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 50%;
}
.slick-dots .slick-active button{
    border-color: red;
    background-color: #000000;
}

